/********************************************
*********************************************
Nav Styles
*********************************************
********************************************/
.nav-background {
  background: #01b0f0;
}

.navbar-right .btn {
  font-size: 20px;
  border:none;
}

.navbar-collapse li a {
  font-size: 20px;
  margin-top: 3px;
}

.navbar-header a {
  font-size: 24px;
  margin-top: 2px;
}

/********************************************
*********************************************
Landing Component Styles
*********************************************
********************************************/
.landing-hr {
  border-bottom: 1px solid #3e3e3e;
}

.jumbotron h1, .jumbotron h2 {
  color: #fffff0;
}

.jumbotron h2 {
  font-size: 38px;
}

.signup-btn {
  padding:20px;
  font-size: 24px;
  border-radius: 10px;
  text-decoration: none !important;
  margin-top:10px;
}

.stadium-background  {
  background-image: url('images/soccer-field-slider-darker.jpg');
  background-size: cover;
  height: 500px;
  opacity: 0.9;
}
/********************************************
*********************************************
HowItWorks Component Styles
*********************************************
********************************************/

.feature {
  margin-bottom:20px;
  padding:10px;
}
/********************************************
*********************************************
Pricing Styles
*********************************************
********************************************/
.db-bk-color-one {
  background-color: #f55039;
}

.db-bk-color-two {
  background-color: #46A6F7;
}

.db-bk-color-three {
  background-color: #47887E;
}

.db-bk-color-six {
  background-color: #F59B24;
}

.db-padding-btm {
  padding-bottom: 50px;
}
.db-button-color-square {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.50);
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.db-button-color-square:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.50);
  border: none;
}


.db-pricing-eleven {
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  color: #fff;
  line-height: 30px;
}

.db-pricing-eleven ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0px;
}

.db-pricing-eleven ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.db-pricing-eleven ul li i {
  margin-right: 5px;
}


  .db-pricing-eleven .price {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 40px 20px 20px 20px;
      font-size: 60px;
      font-weight: 900;
      color: #FFFFFF;
  }

.db-pricing-eleven .price small {
  color: #B8B8B8;
  display: block;
  font-size: 12px;
  margin-top: 22px;
}

.db-pricing-eleven .type {
  background-color: #52E89E;
  padding: 50px 20px;
  font-weight: 900;
  text-transform: uppercase;
   font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
  padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
  padding-left: 0;
  padding-right: 0;
}

.db-pricing-eleven.popular {
  margin-top: 10px;
}

.db-pricing-eleven.popular .price {
  padding-top: 80px;
}

/********************************************
*********************************************
Padding Styles
*********************************************
********************************************/
.pad-sm {
  padding:15px;
}
.pad-med {
  padding:30px;
}
/********************************************
*********************************************
Margin Styles
*********************************************
********************************************/
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-50 {
  margin-top: 50px;
}

.margin-top-75 {
  margin-top: 50px;
}

.margin-top-100 {
  margin-top: 150px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-50 {
  margin-top: 50px;
}

.margin-right-5{
  margin-right: 5px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-left-5{
  margin-left: 5px;
}

.margin-left-20 {
  margin-left: 20px;
}

/********************************************
*********************************************
Font/Color Styles
*********************************************
********************************************/
.aqua {
  color:#01b0f0;
}

.dark-cyan {
  color: #008b8b;
}

.red {
  color: red;
}

.navy {
  color: #046487;
}

.white {
  color:#fffff0;
}

.black-text {
  color:#3e3e3e;
}

.aqua-background {
  background: #01b0f0;
}

.navy-background {
  background: #046487;
}

.dark-cyan-background {
  background: #008b8b;
}

.bold {
  font-weight: 900;
}

.text-underlined {
  text-decoration: underline;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.cabin-font {
  font-family: 'Cabin', sans-serif;
}
/********************************************
*********************************************
Positioning Styles
*********************************************
********************************************/

.absolute {
  position: absolute;
}

/********************************************
*********************************************
Cursor Styles
*********************************************
********************************************/
.pointer {
  cursor: pointer;
}

.all-scroll {
  cursor: all-scroll;
}
/********************************************
*********************************************
Sizing Styles
*********************************************
********************************************/

.width-200 {
  width: 200px;
}

.width-300 {
  width: 300px;
}
/********************************************
*********************************************
Authorization and Ajax
*********************************************
********************************************/

.auth-fail {
  color: darkred;
  text-transform: uppercase;
}
/********************************************
*********************************************
Dashboard tabs
*********************************************
********************************************/
.nav-tabs > li > a {
  color:#fffff0; 
  background-color: #008b8b; 
  margin-right: 5px;
  margin-top:5px;
  font-weight: 700;
}

.nav-tabs > li > a:hover {
  background: #3e3e3e;
  color: #fffff0;
}

.dashboard-tabs {
  color:#fffff0; 
  background-color: #008b8b; 
}

.nav-tabs > li.active > a {
  font-weight: bold;
  color: #3e3e3e;
}
/********************************************
*********************************************
Form Styles
*********************************************
********************************************/
.star {
  color: red;
  font-size: 16px;
}

/********************************************
*********************************************
Media Styles
*********************************************
********************************************/

ul .media-link {
  list-style-type: none;
}